#include "01_application.xcconfig"

ONLY_ACTIVE_ARCH = YES

ENABLE_TESTABILITY = YES

CODE_SIGN_IDENTITY = iPhone Developer

COPY_PHASE_STRIP = NO

GCC_OPTIMIZATION_LEVEL = 0

OTHER_CFLAGS = $(inherited) -fstack-protector-all -fstack-protector

ENABLE_NS_ASSERTIONS = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TEST=1 UI_TEST

SWIFT_OPTIMIZATION_LEVEL = -Onone

OTHER_SWIFT_FLAGS = $(inherited) -DTEST
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) TEST

BUILD_CONFIGURATION_MODE = TEST
