#include "01_application.xcconfig"

ONLY_ACTIVE_ARCH = YES

ENABLE_TESTABILITY = YES

CODE_SIGN_IDENTITY = iPhone Developer

COPY_PHASE_STRIP = NO

GCC_OPTIMIZATION_LEVEL = 0

OTHER_CFLAGS = $(inherited) -fstack-protector-all -fstack-protector

ENABLE_NS_ASSERTIONS = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1

SWIFT_OPTIMIZATION_LEVEL = -Onone

OTHER_SWIFT_FLAGS = $(inherited) -DDEBUG -Xfrontend -warn-long-function-bodies=500 -Xfrontend -warn-long-expression-type-checking=500
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG

BUILD_CONFIGURATION_MODE = DEBUG
